data/flows.json
[{"type":"tab","id":"e815429f.17eac","label":"Shutters Scheduler"},{"type":"tab","id":"82d0b59f.7d2f48","label":"Karotz Scheduler"},{"type":"tab","id":"7639b6e0.89c648","label":"SmartMeter"},{"type":"tab","id":"8d030e1d.72fcf","label":"Presence Detection"},{"type":"tab","id":"ba09ac.ff45f65","label":"Smoke Detection"},{"type":"tab","id":"ee7214e7.118de8","label":"SMS Services"},{"id":"81a1f912.7e5e08","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"b073dfe3.4f8c2","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"domogeeek","name":"domogeeek"},{"id":"66fae35b.99051c","type":"twitter-credentials","screen_name":"@ltoinel"},{"id":"746e079d.8b91f8","type":"scheduler","outtopic":"","outpayload1":"OPEN","outpayload2":"CLOSE","name":"Morning / Evening","lat":"47.2","lon":"-1.5","start":"sunrise","end":"sunset","starttime":"600","endtime":"6000","duskoff":"30","dawnoff":"0","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"x":159.00000762939453,"y":135,"z":"e815429f.17eac","wires":[["a0826c8a.5f7d9"],["a0826c8a.5f7d9"]]},{"id":"36848cb8.c97b74","type":"comment","name":"Shutter Management","info":"Open And close the shutters","x":148.66667938232422,"y":71.77777099609375,"z":"e815429f.17eac","wires":[]},{"id":"a0826c8a.5f7d9","type":"switch","name":"Check status","property":"payload","rules":[{"t":"eq","v":"OPEN"},{"t":"eq","v":"CLOSE"}],"checkall":"false","outputs":2,"x":379.00000762939453,"y":217.00000381469727,"z":"e815429f.17eac","wires":[["48cd17aa.b732e8"],["9c59a8a0.63a658"]]},{"id":"ce686d1b.31979","type":"http request","name":"Arduino : Open Shutters","method":"GET","ret":"txt","url":"http://192.168.1.4/up","x":942.8890380859375,"y":196.88888549804688,"z":"e815429f.17eac","wires":[[]]},{"id":"46115605.b9eea8","type":"http request","name":"Arduino : Close Shutters","method":"GET","ret":"txt","url":"http://192.168.1.4/down","x":943.111083984375,"y":273.66668701171875,"z":"e815429f.17eac","wires":[[]]},{"id":"effdf968.100208","type":"scheduler","outtopic":"","outpayload1":"CLOSE","outpayload2":"OPEN","name":"Summer","lat":"47.2185","lon":"-1.54466","start":"sunrise","end":"sunset","starttime":"1020","endtime":"1140","duskoff":"0","dawnoff":"0","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":false,"feb":false,"mar":false,"apr":false,"may":false,"jun":true,"jul":true,"aug":true,"sep":false,"oct":false,"nov":false,"dec":false,"x":142.8888931274414,"y":273.111083984375,"z":"e815429f.17eac","wires":[["a0826c8a.5f7d9"],["a0826c8a.5f7d9"]]},{"id":"4b90ff68.b46f","type":"scheduler","outtopic":"","outpayload1":"WAKEUP","outpayload2":"SLEEP","name":"Wakeup / Sleep","lat":"47.2185","lon":"-1.54466","start":"sunrise","end":"sunset","starttime":"480","endtime":"1425","duskoff":"0","dawnoff":"0","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"x":133,"y":147,"z":"82d0b59f.7d2f48","wires":[["fd2f9189.02d07"],["fd2f9189.02d07"]]},{"id":"bbbfb326.44405","type":"http request","name":"Karotz : Wakeup","method":"GET","ret":"txt","url":"http://192.168.1.6/cgi-bin/wakeup?silent=1","x":566,"y":126,"z":"82d0b59f.7d2f48","wires":[[]]},{"id":"2b5c396a.d4a3c6","type":"http request","name":"Karotz : Sleep","method":"GET","ret":"txt","url":"http://192.168.1.6/cgi-bin/sleep","x":975,"y":204,"z":"82d0b59f.7d2f48","wires":[[]]},{"id":"fd2f9189.02d07","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":"WAKEUP"},{"t":"eq","v":"SLEEP"}],"checkall":"false","outputs":2,"x":368,"y":149,"z":"82d0b59f.7d2f48","wires":[["bbbfb326.44405"],["38f79739.c70868"]]},{"id":"38f79739.c70868","type":"http request","name":"Karotz : Extinction des feux","method":"GET","ret":"txt","url":"http://192.168.1.6/cgi-bin/tts?voice=claire&text=Extinction des feux !&nocache=0","x":601,"y":207,"z":"82d0b59f.7d2f48","wires":[["b221776.f4dde88"]]},{"id":"b221776.f4dde88","type":"delay","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":807,"y":203,"z":"82d0b59f.7d2f48","wires":[["2b5c396a.d4a3c6"]]},{"id":"4a000b10.b5fff4","type":"scheduler","outtopic":"","outpayload1":"REMINDER","outpayload2":"","name":"Reminder Monday","lat":"47.2185","lon":"-1.54466","start":"sunrise","end":"sunset","starttime":"1360","endtime":"10005","duskoff":"0","dawnoff":"0","sun":false,"mon":true,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"x":142,"y":340,"z":"82d0b59f.7d2f48","wires":[["a8358b55.57ca78"],[]]},{"id":"d5fbb958.2a0448","type":"scheduler","outtopic":"","outpayload1":"REMINDER","outpayload2":"","name":"Reminder Tuesday","lat":"47.2185","lon":"-1.54466","start":"sunrise","end":"sunset","starttime":"1360","endtime":"10005","duskoff":"0","dawnoff":"0","sun":false,"mon":false,"tue":true,"wed":false,"thu":false,"fri":false,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"x":142,"y":419,"z":"82d0b59f.7d2f48","wires":[["ffa45e6a.005ba"],[]]},{"id":"a8358b55.57ca78","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":"REMINDER"}],"checkall":"true","outputs":1,"x":342,"y":333,"z":"82d0b59f.7d2f48","wires":[["debea813.214158"]]},{"id":"ffa45e6a.005ba","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":"REMINDER"}],"checkall":"true","outputs":1,"x":341,"y":413,"z":"82d0b59f.7d2f48","wires":[["eff8d50d.100728"]]},{"id":"debea813.214158","type":"http request","name":"Karotz : Reminder poubelle jaune","method":"GET","ret":"txt","url":"http://192.168.1.6/cgi-bin/tts?voice=claire&text=Avez-vous pensé à sortir la poubelle jaune ?&nocache=0","x":600,"y":335,"z":"82d0b59f.7d2f48","wires":[[]]},{"id":"eff8d50d.100728","type":"http request","name":"Karotz : Reminder poubelle bleue","method":"GET","ret":"txt","url":"http://192.168.1.6/cgi-bin/tts?voice=claire&text=Avez-vous pensé à sortir la poubelle jaune ?&nocache=0","x":594,"y":415,"z":"82d0b59f.7d2f48","wires":[[]]},{"id":"29d71124.d628ee","type":"comment","name":"Wake up and make sleep the Karotz","info":"","x":184,"y":69,"z":"82d0b59f.7d2f48","wires":[]},{"id":"667bff3.f9984","type":"comment","name":"Trash reminder","info":"","x":107,"y":278,"z":"82d0b59f.7d2f48","wires":[]},{"id":"89d0810e.762f8","type":"mqtt in","name":"sensorBinary","topic":"sensorBinary","broker":"81a1f912.7e5e08","x":114,"y":162,"z":"8d030e1d.72fcf","wires":[["3e2bd6b4.c1d42a","14d28ea3.eb2d71"]]},{"id":"3e2bd6b4.c1d42a","type":"json","name":"Parse message","x":291.00001525878906,"y":161.33334350585938,"z":"8d030e1d.72fcf","wires":[["9e6498a0.619b68"]]},{"id":"9e6498a0.619b68","type":"switch","name":"check value","property":"payload.label","rules":[{"t":"eq","v":"Sensor"}],"checkall":"true","outputs":1,"x":479.5555419921875,"y":162.66668701171875,"z":"8d030e1d.72fcf","wires":[["7321303e.8cded"]]},{"id":"af4f559e.50b0a8","type":"comment","name":"Door detection","info":"","x":116.1111068725586,"y":86.22221374511719,"z":"8d030e1d.72fcf","wires":[]},{"id":"cfe04245.301fc","type":"mqtt in","name":"meter","topic":"meter","broker":"81a1f912.7e5e08","x":80,"y":147,"z":"7639b6e0.89c648","wires":[["d77b585f.2884a8"]]},{"id":"d77b585f.2884a8","type":"json","name":"Parse message","x":256,"y":148,"z":"7639b6e0.89c648","wires":[["f7945a5a.086ba8"]]},{"id":"f7945a5a.086ba8","type":"switch","name":"Dispatch message","property":"payload.label","rules":[{"t":"eq","v":"Voltage"},{"t":"eq","v":"Power"}],"checkall":"false","outputs":2,"x":498,"y":137,"z":"7639b6e0.89c648","wires":[[],["76a9fb40.895604","b3a526b9.4c5ad8"]]},{"id":"c6e9ca86.391638","type":"delay","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1018,"y":220,"z":"8d030e1d.72fcf","wires":[["bf3472d.f40cb9"]]},{"id":"48cd17aa.b732e8","type":"http request","name":"Karotz : Ouverture des volets","method":"GET","ret":"txt","url":"http://192.168.1.6/cgi-bin/tts?voice=claire&text=Ouverture des volets !&nocache=0","x":661,"y":198,"z":"e815429f.17eac","wires":[["ce686d1b.31979"]]},{"id":"9c59a8a0.63a658","type":"http request","name":"Karotz : Fermeture des volets","method":"GET","ret":"txt","url":"http://192.168.1.6/cgi-bin/tts?voice=claire&text=Fermeture des volets !&nocache=0","x":662,"y":273,"z":"e815429f.17eac","wires":[["46115605.b9eea8"]]},{"id":"76a9fb40.895604","type":"switch","name":"if power > 8kw","property":"payload.value","rules":[{"t":"gte","v":"8000"}],"checkall":"true","outputs":1,"x":728,"y":102,"z":"7639b6e0.89c648","wires":[["2350774.fdcaf88"]]},{"id":"5c822c42.a37dd4","type":"http request","name":"Karotz : Vous consommez trop d'énergie","method":"GET","ret":"txt","url":"http://192.168.1.6/cgi-bin/tts?voice=claire&text=Vous consommez trop d'énergie !&nocache=0","x":1189,"y":102,"z":"7639b6e0.89c648","wires":[[]]},{"id":"ee103152.11efd","type":"mongodb out","mongodb":"b073dfe3.4f8c2","name":"Save","collection":"power","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":929,"y":203,"z":"7639b6e0.89c648","wires":[]},{"id":"2350774.fdcaf88","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":914,"y":102,"z":"7639b6e0.89c648","wires":[["5c822c42.a37dd4"]]},{"id":"7321303e.8cded","type":"switch","name":"","property":"payload.source","rules":[{"t":"eq","v":"zwave[4]"},{"t":"eq","v":"zwave[6]"}],"checkall":"false","outputs":2,"x":637,"y":163,"z":"8d030e1d.72fcf","wires":[["cc342921.33cbd8"],["31b78fd0.ce487"]]},{"id":"b17e28af.4e81d8","type":"delay","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":129,"z":"8d030e1d.72fcf","wires":[["bf3472d.f40cb9"]]},{"id":"cc342921.33cbd8","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":834,"y":142,"z":"8d030e1d.72fcf","wires":[["b17e28af.4e81d8"]]},{"id":"31b78fd0.ce487","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":829,"y":207,"z":"8d030e1d.72fcf","wires":[["c6e9ca86.391638"]]},{"id":"bf3472d.f40cb9","type":"http request","name":"Karotz : Moods","method":"GET","ret":"txt","url":"http://192.168.1.6/cgi-bin/apps/moods","x":1211,"y":180,"z":"8d030e1d.72fcf","wires":[[]]},{"id":"3daa1d7f.c255e2","type":"mqtt in","name":"basic","topic":"basic","broker":"81a1f912.7e5e08","x":95,"y":131,"z":"ba09ac.ff45f65","wires":[["fb3f8e8c.04c07"]]},{"id":"fb3f8e8c.04c07","type":"json","name":"Parse message","x":269,"y":132,"z":"ba09ac.ff45f65","wires":[["f88f4e90.0770b"]]},{"id":"4008480f.bff7b8","type":"comment","name":"Smoke detection","info":"","x":122,"y":50,"z":"ba09ac.ff45f65","wires":[]},{"id":"f88f4e90.0770b","type":"switch","name":"check value","property":"payload.source","rules":[{"t":"eq","v":"zwave[5]"}],"checkall":"true","outputs":1,"x":452,"y":132,"z":"ba09ac.ff45f65","wires":[["f90f61b6.06f0a"]]},{"id":"f90f61b6.06f0a","type":"switch","name":"check value","property":"payload.value","rules":[{"t":"eq","v":"255"}],"checkall":"true","outputs":1,"x":626,"y":131,"z":"ba09ac.ff45f65","wires":[["6d2fc36d.92d03c"]]},{"id":"62d39ff7.9d2c6","type":"e-mail","server":"smtp.gmail.com","port":"465","name":"ltoinel@free.fr;sterenn.lenir@gmail.com","dname":"Email Alert","x":994,"y":104,"z":"ba09ac.ff45f65","wires":[]},{"id":"6d2fc36d.92d03c","type":"template","name":"Alarme Fumée","field":"payload","format":"handlebars","template":"Détection de fumée à votre domicile ! ","x":807,"y":131,"z":"ba09ac.ff45f65","wires":[["1b5293d6.e4ad6c","62d39ff7.9d2c6"]]},{"id":"a1fcaa86.5e0358","type":"watch","name":"SMS Inbox","files":"/var/spool/gammu/inbox","x":96,"y":170,"z":"ee7214e7.118de8","wires":[["4ce086f6.b31f78"]]},{"id":"dd3e6af1.22c198","type":"file in","name":"SMS Content","filename":"","format":"utf8","x":472,"y":169,"z":"ee7214e7.118de8","wires":[["e5779ac9.1a8868"]]},{"id":"4ce086f6.b31f78","type":"change","name":"","rules":[{"t":"set","p":"filename","to":"msg.payload"}],"action":"","property":"","from":"","to":"","reg":false,"x":276,"y":170,"z":"ee7214e7.118de8","wires":[["dd3e6af1.22c198"]]},{"id":"e5779ac9.1a8868","type":"function","name":"","func":"msg.phone =  msg.filename.match(/(\\+[0-9]*)/)[1];\ndelete msg.filename;\ndelete msg.topic;\ndelete msg.file;\ndelete msg.type;\nreturn msg;","outputs":1,"noerr":0,"x":664,"y":169,"z":"ee7214e7.118de8","wires":[["c3e15cc0.3c1ea"]]},{"id":"c3e15cc0.3c1ea","type":"debug","name":"","active":true,"console":"false","complete":"true","x":827,"y":169,"z":"ee7214e7.118de8","wires":[]},{"id":"e440e711.1bbf18","type":"comment","name":"SMS Inbox","info":"","x":101,"y":95,"z":"ee7214e7.118de8","wires":[]},{"id":"f8e4a900.071b58","type":"http in","name":"","url":"/sendsms","method":"get","swaggerDoc":"","x":113,"y":431,"z":"ee7214e7.118de8","wires":[["a1aecc9e.5e513"]]},{"id":"e1f6ef7.f1e091","type":"http response","name":"HTTP Response","x":1167,"y":422,"z":"ee7214e7.118de8","wires":[]},{"id":"a1aecc9e.5e513","type":"template","name":"Prepare command","field":"payload","format":"handlebars","template":"gammu-smsd-inject TEXT \"{{payload.phone}}\" -text \"{{payload.msg}}\"","x":317,"y":432,"z":"ee7214e7.118de8","wires":[["b7cf8043.48308"]]},{"id":"10a60b66.ef59f5","type":"function","name":"KO","func":"msg.payload=\"Technical Error\"\nmsg.statusCode=501;\n\nreturn msg;","outputs":1,"noerr":0,"x":981,"y":449,"z":"ee7214e7.118de8","wires":[["e1f6ef7.f1e091"]]},{"id":"b7cf8043.48308","type":"exec","command":"sudo ","addpay":true,"append":"","useSpawn":"","name":"Exec gammu-inject-sms","x":559,"y":433,"z":"ee7214e7.118de8","wires":[["ce25f0eb.31da1"],[],[]]},{"id":"998651e9.6679b","type":"function","name":"OK","func":"msg.payload=\"SMS Sent\"\nmsg.statusCode=201;\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":403,"z":"ee7214e7.118de8","wires":[["e1f6ef7.f1e091"]]},{"id":"ce25f0eb.31da1","type":"switch","name":"Check result","property":"payload","rules":[{"t":"cont","v":"Created outbox message"},{"t":"else"}],"checkall":"true","outputs":2,"x":789,"y":414,"z":"ee7214e7.118de8","wires":[["998651e9.6679b"],["10a60b66.ef59f5"]]},{"id":"dc222e97.23ddd","type":"comment","name":"SMS Webservice","info":"","x":119,"y":368,"z":"ee7214e7.118de8","wires":[]},{"id":"1b5293d6.e4ad6c","type":"http request","name":"SMS Alert","method":"GET","ret":"txt","url":"http://localhost:8080/sendsms?phone=0646340951&msg={{{payload}}}","x":999,"y":168,"z":"ba09ac.ff45f65","wires":[[]]},{"id":"b3a526b9.4c5ad8","type":"function","name":"Remove useless data","func":"\n// Fill the good data\nmsg.payload._id=msg.payload.timestamp;\nmsg.payload.v=msg.payload.value;\n\n// Remove the useless data\ndelete msg.payload.timestamp;\ndelete msg.payload.value;\ndelete msg.payload.source;\ndelete msg.payload.label;\ndelete msg.payload.action;\n\nreturn msg;","outputs":1,"noerr":0,"x":727,"y":191,"z":"7639b6e0.89c648","wires":[["ee103152.11efd","5d7e2970.a281d8"]]},{"id":"3627068c.c9d8fa","type":"mongodb in","mongodb":"b073dfe3.4f8c2","name":"Find data","collection":"power","operation":"find","x":465,"y":380,"z":"7639b6e0.89c648","wires":[["69b36658.964c98"]]},{"id":"210c3e9.fdef3c2","type":"http in","name":"","url":"/data/power","method":"get","swaggerDoc":"","x":101,"y":380,"z":"7639b6e0.89c648","wires":[["51c66e42.ae399"]]},{"id":"51c66e42.ae399","type":"function","name":"Prepare Query","func":"// Parse date\nvar date = Date.parse(msg.payload.date);\n\nmsg.payload = { _id :{$lt : date + 86400000, $gt : date }};\n\nreturn msg;","outputs":1,"noerr":0,"x":296,"y":380,"z":"7639b6e0.89c648","wires":[["3627068c.c9d8fa"]]},{"id":"47a5c795.b85a38","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":671,"z":"7639b6e0.89c648","wires":[["fd65ea4f.029a18"]]},{"id":"fd65ea4f.029a18","type":"mongodb out","mongodb":"b073dfe3.4f8c2","name":"","collection":"power","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":316,"y":671,"z":"7639b6e0.89c648","wires":[]},{"id":"931bfafc.6ce408","type":"comment","name":"Purge database","info":"","x":96,"y":625,"z":"7639b6e0.89c648","wires":[]},{"id":"dd503588.22afc8","type":"comment","name":"Webservice for chart","info":"","x":110,"y":322,"z":"7639b6e0.89c648","wires":[]},{"id":"20d8025d.df27fe","type":"comment","name":"Zwave message handler","info":"","x":131,"y":80,"z":"7639b6e0.89c648","wires":[]},{"id":"69b36658.964c98","type":"http response","name":"Result","x":608,"y":382,"z":"7639b6e0.89c648","wires":[]},{"id":"5d7e2970.a281d8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":965,"y":309,"z":"7639b6e0.89c648","wires":[]},{"id":"bc304490.43cfb8","type":"http in","name":"","url":"/power","method":"get","swaggerDoc":"","x":80,"y":535,"z":"7639b6e0.89c648","wires":[["16583670.e9a7ca"]]},{"id":"16583670.e9a7ca","type":"template","name":"HTML Page","field":"payload","format":"html","template":"<html>\n<head>\n    <title>Power Meter</title>\n    <script src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js\"></script>\n\n  <script type=\"text/javascript\">\n  \n     $(document).ready(function() {\n\n     $.getJSON(\"/data/power?date={{payload.date}}\", function (result) {\n         \n        var labels=[],data=[];\n        \n        for (var i = 0, len = result.length; i < len; i++) {\n            labels.push(new Date(result[i]._id).getHours());\n            data.push(result[i].v);\n        }\n\n        var tempData = {\n            labels : labels,\n            datasets : [{\n                label: \"Power consumption\",\n                fillColor : \"rgba(172,194,132,0.4)\",\n                strokeColor : \"#ACC26D\",\n                pointColor : \"#fff\",\n                pointStrokeColor : \"#9DB86D\",\n                data : data\n            }]\n        };\n\n        var temp = document.getElementById('myChart').getContext('2d');\n        var lineChart = new Chart(temp).Line(tempData);\n\n     });\n });\n </script>\n\n</head>    \n<body>\n    <h1>Power Meter</h1>\n    <canvas id=\"myChart\" width=\"1024\" height=\"500\"></canvas>\n    \n</body>\n</html>","x":260,"y":535,"z":"7639b6e0.89c648","wires":[["dd967a9d.226988"]]},{"id":"dd967a9d.226988","type":"http response","name":"","x":423,"y":536,"z":"7639b6e0.89c648","wires":[]},{"id":"d4b4d0d4.2b4b3","type":"comment","name":"Webpage","info":"","x":75,"y":483,"z":"7639b6e0.89c648","wires":[]},{"id":"14d28ea3.eb2d71","type":"debug","name":"","active":true,"console":"false","complete":"false","x":462,"y":285,"z":"8d030e1d.72fcf","wires":[]}]